Source: mcache
Maintainer: Michal Bukovsky <michal.bukovsky@firma.seznam.cz>
Section: python
Priority: optional
Build-Depends: python-all-dev, debhelper (>= 9~),
               libboost-python1.50-dev | libboost-python1.54-dev | libboost-python1.55-dev | libboost-python1.62-dev | libboost-python1.67-dev,
               szn-libmcache-dev, python3-all-dev, python3-setuptools,
               python-setuptools, dh-python, zlib1g-dev
Standards-Version: 3.8.4

Package: szn-python-mcache
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Provides: ${python:Provides}
Description: Python wrapper around libmcache - memcache client library

Package: szn-python3-mcache
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Provides: ${python3:Provides}
Description: Python3 wrapper around libmcache - memcache client library


