Source: szn-libmcache
Priority: extra
Maintainer: Michal Bukovsky <michal.bukovsky@firma.seznam.cz>
Build-Depends: debhelper (>= 9~), meson, pkg-config,
               dh-autoreconf, git, libtbb-dev, zlib1g-dev,
               libreadline-dev,
               libboost1.50-dev | libboost1.54-dev | libboost1.55-dev | libboost1.62-dev | libboost1.67-dev | libboost1.74-dev,
               libboost-thread1.50-dev | libboost-thread1.54-dev | libboost-thread1.55-dev | libboost-thread1.62-dev | libboost-thread1.67-dev | libboost-thread1.74-dev,
               libboost-system1.50-dev | libboost-system1.54-dev | libboost-system1.55-dev | libboost-system1.62-dev | libboost-system1.67-dev | libboost-system1.74-dev
Standards-Version: 3.8.4

Package: szn-libmcache-dev
Section: libdevel
Architecture: any
Depends: autotools-dev, pkg-config,
         libtbb-dev,
         libboost1.50-dev | libboost1.54-dev | libboost1.55-dev | libboost1.62-dev | libboost1.67-dev | libboost1.74-dev,
         libboost-thread1.50-dev | libboost-thread1.54-dev | libboost-thread1.55-dev | libboost-thread1.62-dev | libboost-thread1.67-dev | libboost-thread1.74-dev,
         libboost-system1.50-dev | libboost-system1.54-dev | libboost-system1.55-dev | libboost-system1.62-dev | libboost-system1.67-dev | libboost-system1.74-dev
Description:
 Memcache client library.
