Source: szn-libmcache
Priority: extra
Maintainer: Michal Bukovsky <michal.bukovsky@firma.seznam.cz>
Build-Depends: debhelper (>= 9~), autotools-dev, pkg-config,
               dh-autoreconf, git, libtbb-dev, zlib1g-dev,
               libboost-dev,
               libboost-thread-dev,
               libboost-system-dev
Standards-Version: 3.8.4

Package: szn-libmcache-dev
Section: libdevel
Architecture: any
Depends: autotools-dev, pkg-config,
         libtbb-dev,
         libboost-dev,
         libboost-thread-dev,
         libboost-system-dev
Description:
 Memcache client library.

